body {
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  flex: 2;
  background-size: cover;
  height: auto;
  width: 100%;
  font-family: "Audiowide", cursive;
  object-fit: fill;
  background: teal;
}
.full-screen {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.full-screen video {
  position: absolute;
  left: auto;
  top: auto;
  width: auto;
  height: auto;
  object-fit: none;
  z-index: -1;
  width: 100%;
  height: 200%;
}

.content {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  color: white;
  font-family: "Pacifico", cursive;
  border-radius: 20px;
}
.content-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: inline-block;
  padding: 8px;
  background: linear-gradient(
    360deg,
    yellow,
    orange,
    red,
    purple,
    midnightblue,
    teal,
    cyan
  );
  margin: auto;
  border-radius: 50%;
  background-size: 200% 200%;
  animation: animated-gradient 10s linear infinite;
}

@keyframes animated-gradient {
  25% {
    background-position: left bottom;
  }
  50% {
    background-position: right bottom;
  }
  75% {
    background-position: right top;
  }
  100% {
    background-position: left top;
  }
}

.content h1 {
  font-size: 60px;
  letter-spacing: 4px;
  font-weight: 100;
  font-family: "Monoton", cursive;
}
.content h5 {
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: 100;
}
.content p {
  text-align: justify;
  font-size: 40px;
}
ul {
  margin: 0;
  padding: 0;
}
.content li {
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.content li a {
  color: white;
  text-decoration: none;
  font-size: 40px;
  transition: all ease-in-out 250ms;
}
.content li a:hover {
  color: cyan;
}
.contact-btn {
  display: inline-block;
  padding: 12px 50px;
  color: cyan;
  border: 2px solid teal;
  border-radius: 6px;
  margin-top: 16px;
  transition: 0.3s linear;
  font-family: "Audiowide", cursive;
  font-size: 12px;
}

.contact-btn:hover {
  background: midnightblue;
  color: #f2f2f2;
}
